#include "C:\\Users\\a.starchikov.11isip2\\Desktop\\Okno1\\utils\\WinProc.h"
#include <windows.h>
Ex4_Icon ICON "favicon.ico"
Ex4_Menu MENU
{
    POPUP "&Файл" {
        MENUITEM "&Открыть...\tCtrl-o", 2
        MENUITEM "&Сохранить", 3
        MENUITEM "&Сохранить &как...", 4
        MENUITEM SEPARATOR 
        MENUITEM "&Выход\tAlt-F4", 5
    }
    POPUP "&Редактировать"{
        MENUITEM "&Копировать",6
        MENUITEM "&Вставить", 7
        POPUP "Сколько попов вызвать" {
            MENUITEM "1", 8
            MENUITEM "2", 9
            MENUITEM "3", 10
        }
        MENUITEM SEPARATOR
        MENUITEM "Поиск", 11
    }
    POPUP "&Справка" {
        MENUITEM "&о...\tF1", 12
    }
}

31 DIALOG 350, 125, 60, 50 
STYLE WS_POPUP | WS_CAPTION | DS_MODALFRAME  
CAPTION "MyDig" 
BEGIN 
    CONTROL "Miabi one love", 1, "STATIC",SS_LEFT,5,5,50,10 
    CONTROL "Да",32,"BUTTON",BS_DEFPUSHBUTTON,5,20,50,12
    PUSHBUTTON "Нет",33,5,35,50,14

END

32 DIALOG 350, 125, 60, 50 
STYLE WS_POPUP | WS_CAPTION | WS_VISIBLE 
CAPTION "MyDig" 
BEGIN 
    CONTROL "Мияби недовольна", 1, "STATIC",SS_LEFT,5,5,60,25 
    CONTROL "Да",35,"BUTTON",BS_DEFPUSHBUTTON,5,20,50,12
    PUSHBUTTON "Нет",36,5,35,50,14

END

33 DIALOG 350, 125, 60, 50 
STYLE WS_POPUP | WS_CAPTION | WS_VISIBLE 
CAPTION "MyDig" 
BEGIN 
    CONTROL "Мияби спит", 1, "STATIC",SS_LEFT,5,5,50,10 
    CONTROL "Да",35,"BUTTON",BS_DEFPUSHBUTTON,5,20,50,12
    PUSHBUTTON "Нет",36,5,35,50,14

END

34 DIALOG 350, 125, 60, 50 
STYLE WS_POPUP | WS_CAPTION | WS_VISIBLE 
CAPTION "MyDig" 
BEGIN 
    CONTROL "Мияби рада", 1, "STATIC",SS_LEFT,5,5,50,10 
    CONTROL "Да",35,"BUTTON",BS_DEFPUSHBUTTON,5,20,50,12
    PUSHBUTTON "Нет",36,5,35,50,14

END

35 DIALOG 350, 125, 100, 120 
STYLE WS_POPUP | WS_CAPTION | WS_VISIBLE | WS_SYSMENU | WS_MAXIMIZEBOX | WS_MINIMIZEBOX | WS_OVERLAPPEDWINDOW | WS_BORDER
CAPTION "MyDig" 
BEGIN 
    CONTROL "Что сохранить", 36, "STATIC",SS_LEFT,5,5,70,50 
    CONTROL "GroupBox1",37,"BUTTON",BS_GROUPBOX,5,55,50,50
    CONTROL "1 файл",38,"BUTTON",BS_AUTOCHECKBOX,10,65,30,10
    CONTROL "2 файл",39,"BUTTON",BS_CHECKBOX,10,77,30,10
    CONTROL "3 файл",40,"BUTTON",BS_AUTO3STATE,10,89,39,10
END

41 DIALOG 350, 125, 80, 80 
STYLE WS_POPUP | WS_CAPTION | WS_VISIBLE | WS_SYSMENU | WS_MAXIMIZEBOX | WS_MINIMIZEBOX | WS_OVERLAPPEDWINDOW | WS_BORDER
CAPTION "MyDig" 
BEGIN 
    CONTROL "Название файла", 42, "STATIC",SS_LEFT,5,5,70,50 
    CONTROL "",43,"EDIT",ES_MULTILINE|ES_WANTRETURN|ES_CENTER|ES_PASSWORD|WS_BORDER,5,20,50,50
    CONTROL "Да",44,"BUTTON",BS_DEFPUSHBUTTON,5,70,50,10
END

45 DIALOG 350, 125, 100, 120 
STYLE WS_POPUP | WS_CAPTION | WS_VISIBLE | WS_SYSMENU | WS_MAXIMIZEBOX | WS_MINIMIZEBOX | WS_OVERLAPPEDWINDOW | WS_BORDER
CAPTION "MyDig" 
BEGIN 
    CONTROL "Что сохранить", 46, "STATIC",SS_LEFT,5,5,70,50 
    CONTROL "GroupBox1",47,"BUTTON",BS_GROUPBOX,5,55,50,50
    CONTROL "1 файл",48,"BUTTON",BS_AUTORADIOBUTTON,10,65,30,10
    CONTROL "все",49,"BUTTON",BS_AUTORADIOBUTTON,10,77,30,10
    CONTROL "ничего",50,"BUTTON",BS_AUTORADIOBUTTON,10,89,39,10
END

51 DIALOG 350, 125, 80, 80 
STYLE WS_POPUP | WS_CAPTION | WS_VISIBLE | WS_SYSMENU | WS_MAXIMIZEBOX | WS_MINIMIZEBOX | WS_OVERLAPPEDWINDOW | WS_BORDER
CAPTION "MyDig" 
BEGIN 
    CONTROL "Копировать", 52, "STATIC",SS_LEFT,5,5,70,50 
    CONTROL "",53,"EDIT",ES_MULTILINE|ES_WANTRETURN|ES_CENTER|ES_PASSWORD|WS_BORDER,5,20,50,50
    CONTROL "Да",54,"BUTTON",BS_DEFPUSHBUTTON,5,70,50,10
END

55 DIALOG 350, 125, 80, 80 
STYLE WS_POPUP | WS_CAPTION | WS_VISIBLE | WS_SYSMENU | WS_MAXIMIZEBOX | WS_MINIMIZEBOX | WS_OVERLAPPEDWINDOW | WS_BORDER
CAPTION "MyDig" 
BEGIN 
    CONTROL "Вставить", 56, "STATIC",SS_LEFT,5,5,70,50 
    CONTROL "",57,"EDIT",ES_MULTILINE|ES_WANTRETURN|ES_CENTER|ES_PASSWORD|WS_BORDER,5,20,50,50
    CONTROL "Да",58,"BUTTON",BS_DEFPUSHBUTTON,5,70,50,10
END

59 DIALOG 350, 125, 60, 50 
STYLE WS_POPUP | WS_CAPTION | WS_VISIBLE
CAPTION "MyDig" 
BEGIN 
    CONTROL "мало", 60, "STATIC",SS_LEFT,5,5,50,10 
    CONTROL "ок",61,"BUTTON",BS_DEFPUSHBUTTON,5,30,50,12
END

63 DIALOG 350, 125, 60, 50 
STYLE WS_POPUP | WS_CAPTION | WS_VISIBLE
CAPTION "MyDig" 
BEGIN 
    CONTROL "средне", 64, "STATIC",SS_LEFT,5,5,50,10 
    CONTROL "ок",65,"BUTTON",BS_DEFPUSHBUTTON,5,20,50,12
END

67 DIALOG 350, 125, 60, 50 
STYLE WS_POPUP | WS_CAPTION | WS_VISIBLE
CAPTION "MyDig" 
BEGIN 
    CONTROL "много", 68, "STATIC",SS_LEFT,5,5,50,10 
    CONTROL "ок",69,"BUTTON",BS_DEFPUSHBUTTON,5,20,50,12
END

70 DIALOG 350, 125, 60, 50 
STYLE WS_POPUP | WS_CAPTION | WS_VISIBLE
CAPTION "MyDig" 
BEGIN 
    CONTROL "", 71, "STATIC",SS_LEFT,5,5,50,10 
    CONTROL "ок",72,"BUTTON",BS_DEFPUSHBUTTON,5,20,50,12
END